<div class="container">
    <header class="jumbotron">
      <h6> Enquiry List(24 latest records)</h6>
    </header>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> # </th>
                <th> Name </th>
                <th> Email Id</th>
                <th> Country </th>
                <th> Travellers</th>
                <th> Budget/person</th>
                <th> Enquiried at</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let enq of data ; index as i">
                <td> {{i+1}}</td>
                <td> {{enq.name}}</td>
                <td> {{enq.emailid}}</td>
                <td> {{lookups.countries[enq.place].name}}</td>
                <td>{{enq.pax}} </td>
                <td>{{ enq.budget | currency }}</td>
                <td>{{enq.enquiryid | date : 'short' }}</td>
            </tr>
        </tbody>
    </table>
</div>
