<div class="container">
    <header class="jumbotron">
      <H2> Enquiry</H2>
    </header>
</div>
<div class="form-group card">
    <div class="card-body">
        <div>
            <label>Name *</label>
            <input class="form-control" type="text" name="name" [(ngModel)]="header.name"  />
        </div>
        <div>
            <label>Email Address *</label>
            <input  class="form-control" type="email" name="email" [(ngModel)]="header.emailid"
                [ngModelOptions]="{ updateOn: 'blur' }" #emailerror="ngModel"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$ " required />
        </div>
        <div >
            <label>Select Country *</label>
            <select placeholder="Select Country" class="form-select browser-default custom-select" name="country" [(ngModel)]="header.place" >
                <option *ngFor="let place of lookups.countries" [ngValue]="place.id">{{place.name}}</option>
            </select>
        </div>
        <div>
            <label>No. of Travellers *</label>
            <input class="form-control" name="pax" [(ngModel)]="header.pax" type="number" />
        </div>
        <div>
            <label>Budget (per person) in $</label>
            <input class="form-control" name="budget" [(ngModel)]="header.budget" type="number" />
        </div>
            <div class="col-md-12 text-center" style="margin-top: 10px;">
                <button class=" btn btn-primary btn-lg" (click)="saveEnq()">Submit</button>
            </div>
    </div>

</div>
