
<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <h6 style="color:white">Travelopia - Demo Project <p style="font-size:small;">By Falguni Doshi</p> </h6>
    <a href="#" class="navbar-brand"></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/entry" class="nav-link" routerLink="entry">Enquiry </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a href="/list" class="nav-link" routerLink="list">List</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>